.formation_intro{
    padding: 5rem 0;
    .container{
        
        h2{
            text-align: center;
            margin-bottom: 5rem;
        }
        
        .formation_text{
            font-family: 'Raleway', sans-serif;
            font-weight: 500;
            font-size: 2.4rem;
            padding: 0 21rem;
        }
    }
}

@media (min-width: 725px) and (max-width: 914.99px) {
    .formation_intro{
        .container{
            .formation_text{
                padding: 0 5rem;
            }
        }
    }
}

@media (max-width: 724.99px) {
    .formation_intro{
        .container{
            .formation_text{
                padding: 0 5rem;
            }
        }
    }
}