header{
    background-color: var(--o);
    color: white;

    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 0;

        .header_left_content{

            .logo_site{
                font-family: 'Raleway', sans-serif;
                font-weight: 700;
                font-size: 4.8rem;
            }
        }

        .header_right_content{
            
            nav{
                ul{
                    display: flex;
                    padding: 0;

                    li{
                        list-style-type: none;
                        display: flex;
                        align-items: center;
                        a{
                            text-decoration: none;
                            color: white;
                            font-family: 'Montserrat', sans-serif;
                            text-transform: uppercase;
                            font-size: 2rem;
                            padding: 1rem 2rem;
                            transition: .4s;
                        }

                        a:hover {
                            background-color: #fff;
                            color: var(--o);
                        }
                    }
                }
            }
        }
    }
}

main{
    .hero{
        background-image: url(img/arriere-plan.png);
        background-repeat: no-repeat;
        background-size: cover;
        

            .container{
                display: flex;
                justify-content: flex-end;
                flex-direction: column;
                align-items: flex-end;
                .baseline{
                    margin: 24rem 0 12rem 0;
                    display: flex;
                    flex-direction: column;
                    background: #00000080 0% 0% no-repeat padding-box;
                    padding: 3rem;
                    max-width: 970px;
        
                    h1{
                        font-family: 'Raleway', sans-serif;
                        color: white;
                        font-size: 7.2rem;
                        text-shadow: 2px 2px 6px #00000080;
                        margin-bottom: 3rem;
                        line-height: 1.2;
                    }
                        
                    a{
                        background-color: var(--o);
                        padding: 2rem 3rem; 
                        font-family: 'Montserrat', sans-serif;
                        color: white;
                        text-decoration: none;
                        font-size: 4rem;
                        align-self: flex-end;
                        
                    }
                    
                }
            }
    }

    .home_news, .home_modules{
        .container{

            h2{
                text-align: center;
                margin: 3rem 0;
            }

            .news_articles_container, .modules_content{
                display: grid;
                gap: 2rem;
                padding-bottom: 5rem;

                .card{
                    box-shadow: 0px 0px 48px #00000029;
                    border-radius: 4px;
                    margin-bottom: 2rem;

                    img{
                        width: 100%;
                        margin-bottom: 2rem;
                    }

                    .card_content{
                        padding-left: 2rem;

                        .date{
                            font-family: 'Montserrat', sans-serif;
                            font-size: 1.6rem;
                            font-weight: lighter;
                            color: #663014;
                            margin-bottom: 2rem;
                        }
    
                        .date::before{
                            content: url(img/Icone-date.svg);
                            margin-right: 1rem;
                        }
    
                        .card_title{
                            font-family: 'Raleway', sans-serif;
                            font-size: 2.4rem;
                            font-weight: 600;
                            margin-bottom: 2rem;
                        }
    
                        .card_text{
                            font-family: 'Montserrat', sans-serif;
                            font-size: 2rem;
                            font-weight: 400;
                            margin-bottom: 2rem;
                        }
                    }

                    .card_link{
                            background-color: var(--o);
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        a{
                            font-family: 'Montserrat', sans-serif;
                            font-size: 2.4rem;
                            text-decoration: none;
                            color: white;
                            padding: 1rem 0;
                            position: relative;
                            margin-left: -20px;
                        }
                    }

                    .card_link a::after{
                        content: url(img/Icon-feather-arrow-right-circle.svg);
                        margin-left: 1rem;
                        position: absolute;
                        top: 13px;
                    }
                }
            }
        }
    }

    .home_students{
        background-color: var(--o);
        padding: 5rem 0;

        .container{

            h2{
                color: white;
                text-align: center;
            }

            .students_content{
                margin-top: 5rem;
                display: flex;
                justify-content: space-around;

                .students_card{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    img{
                        border-radius: 50rem;
                    }
    
                    .students_name{
                        font-family: 'Montserrat', sans-serif;
                        font-size: 2.4rem;
                        color: white;
                    }
    
                    a{
                        color: white;
                        font-family: 'Montserrat', sans-serif;
                        font-size: 1.6rem;
                    }
                }
            }
        }
    }
}

.news_articles_container{
    grid-template-columns: repeat( auto-fill, minmax(400px, 1fr) );
}

.modules_content{
    grid-template-columns: repeat( auto-fill, minmax(620px, 1fr) );
}

footer{
    background-color: var(--o);
    .container{
        padding: 5rem 0;
        .footer_content{
            display: flex;
            justify-content: space-between;
            align-items: center;

            .footer_adresse{

                li{
                    list-style-type: none;
                    color: white;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 2rem;
                    font-weight: 400;
                }

                .footer_adresse_title{
                    font-weight: 500;
                }
            }
            .footer_nav{

                ul{
                    display: flex;
                    justify-content: space-between;

                    li{
                        list-style-type: none;
                        margin: 0 2rem;
                        
    
                        a{
                            color: white;
                            font-family: 'Montserrat', sans-serif;
                            font-size: 1.6rem;
                            font-weight: 400;
                            text-decoration: none;
                        }
                    }
                }
            }
            .footer_reseaux{

                ul{
                    display: flex;
                    li{
                        list-style-type: none;
                        margin: 0 3rem;
    
                        img{
    
                        }
                    }
                }
            }
        }
    }
}